package $scprm.packageName;

import creamy.activity.AvailableActivity;
import javafx.fxml.FXML;
import models.$scprm.modelName;

public class Edit extends AvailableActivity {
    public void initialize() {
        // Write initialize codes.
    }
}